/*
  List App
  main.css
  2010 - Andrew VanEe
*/

body {
  background-color: #111;
  background-size: 22px 22px;
  color: #FFF;
}

h2, .list {
  width: 80%;
  max-width: 540px;
  margin: 0 auto;
  font-family: 'Cantarell', sans-serif;
  font-weight: lighter;
}

.list {
  padding: 6px;
}

.list > *{
  padding: 3px;
  background-color: #8CF;
  color: #222;
}

h3, #more button {
  font-size: 28px;
  margin: 0px;padding: 0px 4px;
  background-color: inherit;
  color: inherit;
}
h3 {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -moz-border-top-right-radius: 3px;

}

#more button {
  border-radius: 0;
  border-width: 0;
  width: 100%;
}

h3>input {
  font-size: 0.6em;
  margin: 6px;
}

ul {
  padding: 0;
  margin: 0;
  min-height: 22px;
}

img {
  float: left;
  max-width: 48px;
  margin: 8px 4px;
  border: 4px solid #FFF;
}

img:hover {
  border: 4px solid #ADF;
}
h4, li>p, li>img{
  margin: 5px 0; padding: 0;
}

h4, li>p {
  margin-left: 68px;
}

li {
  font-size: 1em;
  list-style: none;
  margin: 0;
  margin-bottom: 3px;
  padding: 4px 4px;
  background-color: #FFF;
  clear: both;
  min-height: 84px;
}

a {
  text-decoration: none;
  color: #6ae;
  font-weight: bold;
}
#more {
  display: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
}

#more button:hover{
  background-color: #ADF;
}
#more button:active{
  background-color: #888;
}


